.header {
  background-color: $light-pink-background;
  padding-top: 20px;
  padding-bottom: 20px;
  font-family: $font-futura;
}

.header__logo-button {
  @include button;
  outline: none;
}

.header__nav {
   .header__logo-button-logo {
    display: block;
  }
  .header__logo-button-cross {
    display: none;
  }

  .header__menu {
    display: none;
  }

  &--active {
    .header__logo-button-logo {
      display: none;
    }

    .header__logo-button-cross {
      display: block;
    }

    .header__menu {
      display: block;
    }
  }
}

.header__menu {
  @include cancel-list;
  position: absolute;
  background-color: $light-pink-background;
  width: 100%;
  height: 100vh;
  left: 0;
  z-index: 100;
}

.header__menu-list {
  @include cancel-list;
  @include page-width;
  text-align: center;
  padding-top: 40px;
}

.header__menu-item {
  margin-bottom: 20px;

  &:last-child {
    a {
      transition: $transition;
      color: $dark-pink-color;

      &:hover {
        text-decoration: underline;
      }
    }
  }

  a {
    font-weight: 900;
    font-size: 21px;
    line-height: 120%;
    color: $black-color;
    text-decoration: none;
    text-transform: uppercase;
    font-family: $font-eho;
      transition: $transition;
      cursor: pointer;

    &:hover {
      color: $dark-pink-color;
    }
  }
}

.header__wrapper {
  @include page-width;
  align-items: center;
  @include flex-row;
}

.header__text {
  font-weight: 450;
  font-size: 14px;
  line-height: 18px;
  margin-left: auto;
  margin-right: 10px;
}

.header__social-list {
  @include flex-row;
  @include cancel-list;
}

.header__social-item {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  position: relative;
  margin-left: 5px;

  &:first-child {
    background-color: $green-color;
  }
  &:last-child {
    background: linear-gradient(43.94deg, #EEA054 16.16%, #D64763 50.11%, #B62A99 83.68%);
  }

  &:active,
  &:hover,
  &:focus {
    background: $dark-pink-color;
  }

  svg {
    color: $white-color;
    @include center-absolute-element;
  }
}
