$font-futura: "Futura PT", "Arial", sans-serif;
$font-fenomena: "Fenomena", "Arial", sans-serif;
$font-eho: "Exo 2", "Arial", sans-serif;
$montserrat: "Montserrat", "Arial", sans-serif;
$mobile-width-only: 767px;
$tablet-width: 1199px;
$desktop-width: 1200px;
$mobile-width: 767px;


$white-color: #ffffff;
$black-color: #100002;
$light-blue-color: #EAF2FF;
$light-blue-color-form: #e8f0fd;
$blue-color-form: #315488;
$red-color: #FA3D62;
$dark-blue-color-word: #142338;
$light-blue-color-word: #315488;
$light-blue-color-menu: #c4d8ff;
$light-blue-background: #f4f8ff;
$blue-color-actions: #93afda;
$blue-color-item-header: #163e7a;
$blue-color-toggles: #ccdbf2;
$item-text-color: #122137;
$services-item-color: #5b85c3;
$blue-line-color: #bccfef;
$dark-blue-button-color: #12366c;
$light-blue-background-item: #ebf2ff;
$diseases-blue-color: #151515;
$footer-text-color: #c4dbff;

$light-pink-background: #FFF2EC;
$light-pink-color: #ffa5b0;
$dark-pink-color: #fa3d62;
$green-color: #48C95F;
$violet-color: #2B1A3B;
$transition: all 0.5s ease;
